html {
  font-size: 100%;
}

body {
  font-size: 1rem;
}

.blank-col {
  height: 9.5rem;
}

#addInput {
  font-size: 1.25rem!important;
  font-weight: 500;
  width: 100%!important;
}
